<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	
	<form th:action="@{/save}" method="post" th:object="${estudiante}">
		
		<label>Nombre:</label>
		<input type="text" th:field="*{nombre}" ><br>
		<span th:errors="*{Nombre}" style="color:#FF0000"></span><br>
	
		<label>Apellido:</label>
		<input type="text" th:field="*{apellido}" ><br>
		<span th:errors="*{Apellido}" style="color:#FF0000"></span><br>
		
		<label>Carnet:</label>
		<input type="text" th:field="*{carnet}" ><br>
		<span th:errors="*{Carnet}" style="color:#FF0000"></span><br>
		
		<label>Carrera:</label>
		<input type="text" th:field="*{carrera}" ><br>
		<span th:errors="*{Carrera}" style="color:#FF0000"></span><br>
		
		<input type="submit" value="Guardar">
		
	</form>
	
	<button type="button" th:onclick="|window.location.href='/listado'|">Ver Listado</button>
	
</body>
</html>